@model Semestralna_praca_VAII.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Nákupný košík
            <a asp-route="Home" class="btn btn-outline-info btn-sm pull-right ">Pokračovať v nákupe </a>
            <div class="clearfix"></div>
        </div>
        @{ double suma = 0; }
        <div class="card-body">
            @if (Model.eventList == null || Model.eventList.Count == 0)
            {
                <div>
                    <h1>Máte 0 položiek</h1>
                </div>
            }
            else
            {
                @foreach (var item in Model.eventList)
                {
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="~/Assets/@item.addedItem.imgPath" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>@item.addedItem.name</strong></h4>
                            <h4>
                                <small>@item.addedItem.description</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>@item.addedItem.price € <span class="text-muted">x</span></strong></h6>
                                @{suma += @item.addedItem.price * @item.amount ;}
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="@item.amount" title="Qty" class="qty"
                                           size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <form>
                                    <button asp-action="Delete" asp-route-cart="@Model.ID" asp-route-id="@item.ID" type="submit" formmethod="post" class="btn btn-outline-danger btn-xs">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
            <hr>
        </div>
        <div class="card-footer">
            <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Kupón">
                    </div>
                    <div class="col-6">
                        <input type="submit" class="btn btn-default default-color5" value="Použiť kupón">
                    </div>
                </div>
            </div>

            @if (Model.eventList != null)
            {
                <div class="pull-right" style="margin: 10px">
                    <a asp-action="Checkout" asp-route-ID="@Model.ID" class="btn btn-success pull-right">K platbe</a>
                    <div class="pull-right" style="margin: 5px">
                        Cena spolu: <b> @suma €</b>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
