@{
    ViewData["Title"] = "Domovská stránka";
}

@model List<Semestralna_praca_VAII.Models.Event>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4">Vitajte</h1>
</div>

@if (User.IsInRole("Admin"))
{
    <h1>Ahoj admin</h1>
}

<div class="container-fluid " style="max-width: 1100px">
    <h1 class="bd-title mt-0 " id="coskoro" >Čoskoro v predpredaji </h1>
    <div id="upcomingEvents" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#upcomingEvents" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.Count; i++)
            {
                @if (!Model[i].isFeatured)
                {
                    break;
                }

                <li data-target="#upcomingEvents" data-slide-to="@i"></li>
            }
        </ol>

        <div class="carousel-inner ">

            @for (int i = 0; i < Model.Count; i++)
            {
                @if (!Model[i].isFeatured)
                {
                    break;
                }

                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="~/Assets/@Model[i].imgPath" class="d-block img-fluid" style="width:1100px;height:600px" alt="Novinka@i">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>@Model[i].name</h4>
                        <p>@Model[i].description</p>
                    </div>
                    <a class="stretched-link" asp-route-id="@Model[i].ID" asp-controller="Event" asp-action="EventDetail"></a>
                </div>
            }

        </div>
        <a class="carousel-control-prev" href="#upcomingEvents" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Predchádzajúci</span>
        </a>
        <a class="carousel-control-next" href="#upcomingEvents" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Ďalší</span>
        </a>
    </div>
</div>


<div class="container-fluid">

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    @if (item.isFeatured)
                    {
                        continue;
                    }
                    <div class="col-md-4 d-flex">
                        <div class="card mb-4  card-body flex-fill shadow-sm ">
                            <img class="card-img-top " src="~/Assets/@item.imgPath" alt="..">
                            <div class="card-body">
                                <h4> @item.name </h4>
                                <p class="card-text">@item.description</p>
                                <a class="stretched-link" asp-route-id="@item.ID" asp-controller="Event" asp-action="EventDetail"></a>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                            <small class="text-muted bottom">22.8.2019</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</div>

<input type="search" id="searchrec" class="search" placeholder="Hladaj" />

<table class="table" id="table2">
    <tr>
        <th>Nazov</th>
    </tr>
</table>

    <style>
        #coskoro {
            text-align: center;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        .card-img-wrap {
            overflow: hidden;
            position: relative;
        }

            .card-img-wrap:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255,255,255,0.3);
                opacity: 0;
                transition: opacity .25s;
            }

            .card-img-wrap img {
                transition: transform .25s;
                width: 100%;
            }

            .card-img-wrap:hover img {
                transform: scale(1.2);
            }

            .card-img-wrap:hover:after {
                opacity: 1;
            }

        .card {
            transition: 0.3s;
        }

            .card:hover {
                background-color: #cecece;
                color: white;
            }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
    $.ajax({
        url: "/Home/GetAll",
        dataType: 'json',
        type: 'get',
        cache:false,
        success: function(data){
            //console.log(data);
            var event_data = '';
            $.each(data, function(index, value){
                //console.log(value);
                event_data += '<tr>';
                event_data += '<td>'+value.name+'</td>';
                event_data += '<td>'+value.price+'</td>';
                event_data += '</tr>';
            });
            $("#table2").append(event_data);
        },
        error: function(d){
            console.log("error");
            alert("404. Nacitavanie...");
        }
    });

            $(".search").on("keyup", function () {
                var search = $(this).val().toLowerCase();
                console.log(search);
                $('#table2 tr').each(function () {
                    var stringdata = $(this).val().toLowerCase();

                    if (stringdata.indexOf(search) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
        });
    </script>
